# Battle of the Neighborhoods Week 1

### Introduction/Business Problem


(https://en.wikipedia.org/wiki/Major_professional_sports_leagues_in_the_United_States_and_Canada). 

The professional sports industry is one of the largest and most profitable industries in the United States. Basketball is also one of the most accessible sports to play. With that being said, the NBA is the second most popular major sports league in the U.S and Canada watched on TV. Yet it fails to bring in as much revenue as the MLB which has lower TV ratings.

Clearly the NBA is missing out on money. One reason for this is because the NBA is not capitalizing on all the available revenue that they could be making. This project is aimed to find a new location for the next NBA team to bring into the league.

### Data

To start deciding where to locate the new team we first need to identify which cities already have loyal fans and already have successful sports teams in that area. I will look at which cities have the most sports teams that don't already have an NBA team. [Sport Teams](https://en.wikipedia.org/wiki/List_of_American_and_Canadian_cities_by_number_of_major_professional_sports_franchises)


Secondly we should look at cities that do not have an NBA team, but do have high incomes, as those people will be more likely to buy box seating and season tickets. [Rankings](https://en.wikipedia.org/wiki/List_of_United_States_metropolitan_areas_by_per_capita_income).

Finally we will use the Foursquare API to look at location data of the current nba teams to make sure the new team does not take away fans from a current NBA team. [NBA Teams](https://en.wikipedia.org/wiki/National_Basketball_Association#Teams)  [Foursquare](https://foursquare.com/).

# Importing and Cleaning the Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_teams1 = pd.read_csv('Professional_teams.csv')

In [3]:
df_teams1 = df_teams1.drop([0])

In [4]:
df_noNBA = df_teams1[df_teams1['NBA'].isnull()]

In [5]:
df2 = df_noNBA.head(10)

In [6]:
df2.drop(['B6', 'MLS', 'CFL'], axis = 1, inplace = True)
df2.head()

/Users/Garrity/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Metropolitan area,Country,Population Rank,Population,B4,NFL,MLB,NBA,NHL
17,Tampa Bay,United States,19.0,"3,032,171",3.0,Buccaneers,Rays,NaN,Lightning
18,Pittsburgh,United States,28.0,"2,342,299",3.0,Steelers,Pirates,NaN,Penguins
20,Seattle,United States,16.0,"3,798,902",2.0,Seahawks,Mariners,NaN,NaN
21,Cincinnati,United States,30.0,"2,165,139",2.0,Bengals,Reds,NaN,NaN
22,Kansas City,United States,32.0,"2,104,509",2.0,Chiefs,Royals,NaN,NaN

In [7]:
df2.rename(columns = {'Metropolitan area': 'Cities'}, inplace = True)

/Users/Garrity/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [8]:
df3 = pd.read_csv('city_income.csv')

In [9]:
df3['Cities'] = df3['Cities'].apply(lambda x: x.split(',')[0])

In [10]:
df3['Cities'] = df3['Cities'].apply(lambda x: x.replace('-', ','))
df3['Cities'] = df3['Cities'].apply(lambda x: x.replace('â€“', ','))

In [11]:
df4 = df3.assign(Cities=df3['Cities'].str.split(',')).explode('Cities')

In [12]:
df5 = pd.merge(df2, df4, on = 'Cities')

In [13]:
df5.drop('Population_y', axis =1, inplace = True)

In [14]:
df5.rename({'Population_x': 'Population'}, axis = 1, inplace = True)
df5.rename({'Ranking': 'Income Rank'}, axis = 1, inplace = True)
df5.rename({'Cities': 'City'}, axis = 1, inplace = True)
df5

,City,Country,Population Rank,Population,B4,NFL,MLB,NBA,NHL,Income Rank,Per capita Income
0,Pittsburgh,United States,28.0,"2,342,299",3.0,Steelers,Pirates,NaN,Penguins,90,"$20,935"
1,Seattle,United States,16.0,"3,798,902",2.0,Seahawks,Mariners,NaN,NaN,3,"$39,322"
2,Cincinnati,United States,30.0,"2,165,139",2.0,Bengals,Reds,NaN,NaN,41,"$22,947"
3,Kansas City,United States,32.0,"2,104,509",2.0,Chiefs,Royals,NaN,NaN,32,"$23,326"
4,Nashville,United States,36.0,"1,865,298",2.0,Titans,NaN,NaN,Predators,26,"$23,994"
5,St. Louis,United States,21.0,"2,807,002",2.0,NaN,Cardinals,NaN,Blues,45,"$22,698"
6,Baltimore,United States,22.0,"2,798,886",2.0,Ravens,Orioles,NaN,NaN,13,"$29,771"
7,Las Vegas,United States,31.0,"2,155,664",2.0,Raiders,NaN,NaN,Golden Knights,84,"$21,210"
8,Buffalo,United States,47.0,"1,132,804",2.0,Bills,NaN,NaN,Sabres,117,"$20,143"

In [15]:
df_NBA = df_teams1.dropna(subset=['NBA'])
df_NBA

,Metropolitan area,Country,Population Rank,Population,B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
1,New York City,United States,1.0,"20,153,634",9.0,"Giants, Jets","Yankees, Mets","Knicks, Nets","Rangers, Islanders, Devils",11.0,"Red Bulls, New York City FC",NaN
2,Los Angeles,United States,2.0,"13,310,447",8.0,"Rams, Chargers","Dodgers, Angels","Lakers, Clippers","Kings, Ducks",10.0,"Galaxy, LA FC",NaN
3,Chicago,United States,3.0,"9,512,999",5.0,Bears,"Cubs, White Sox",Bulls,Blackhawks,6.0,Fire,NaN
4,San Francisco Bay Area,United States,6.0,"6,657,982",5.0,49ers,"Giants, Athletics",Warriors,Sharks,6.0,Earthquakes,NaN
5,Dallasâ€“Fort Worth,United States,4.0,"7,233,323",4.0,Cowboys,Rangers,Mavericks,Stars,5.0,FC Dallas,NaN
6,"Washington, D.C.",United States,7.0,"6,131,977",4.0,Washington NFL team,Nationals,Wizards,Capitals,5.0,D.C. United,NaN
7,Philadelphia,United States,8.0,"6,070,500",4.0,Eagles,Phillies,76ers,Flyers,5.0,Union,NaN
8,Miamiâ€“Fort Lauderdale,United States,9.0,"6,066,387",4.0,Dolphins,Marlins,Heat,Panthers,5.0,Inter Miami CF,NaN
9,Boston,United States,12.0,"4,794,447",4.0,Patriots,Red Sox,Celtics,Bruins,5.0,Revolution,NaN
10,Minneapolisâ€“Saint Paul,United States,17.0,"3,551,036",4.0,Vikings,Twins,Timberwolves,Wild,5.0,United FC,NaN
11,Denver,United States,20.0,"2,853,077",4.0,Broncos,Rockies,Nuggets,Avalanche,5.0,Rapids,NaN
12,Phoenix,United States,13.0,"4,661,537",4.0,Cardinals,Diamondbacks,Suns,Coyotes,4.0,NaN,NaN
13,Detroit,United States,14.0,"4,297,617",4.0,Lions,Tigers,Pistons,Red Wings,4.0,NaN,NaN
14,Toronto,Canada,10.0,"5,928,040",3.0,NaN,Blue Jays,Raptors,Maple Leafs,5.0,Toronto FC,Argonauts
15,Houston,United States,5.0,"6,772,470",3.0,Texans,Astros,Rockets,NaN,4.0,Dynamo,NaN
16,Atlanta,United States,11.0,"5,789,700",3.0,Falcons,Braves,Hawks,NaN,4.0,United FC,NaN
19,Cleveland,United States,33.0,"2,055,612",3.0,Browns,Indians,Cavaliers,NaN,3.0,NaN,NaN
26,Charlotte,United States,23.0,"2,474,314",2.0,Panthers,NaN,Hornets,NaN,2.0,NaN,NaN
28,Indianapolis,United States,35.0,"2,004,230",2.0,Colts,NaN,Pacers,NaN,2.0,NaN,NaN
29,Milwaukee,United States,37.0,"1,572,482",2.0,NaN,Brewers,Bucks,NaN,2.0,NaN,NaN
30,New Orleans,United States,45.0,"1,268,883",2.0,Saints,NaN,Pelicans[note 59],NaN,2.0,NaN,NaN
34,Orlando,United States,25.0,"2,441,257",1.0,NaN,NaN,Magic,NaN,2.0,Orlando City SC,NaN
35,Portland,United States,27.0,"2,424,955",1.0,NaN,NaN,Trail Blazers,NaN,2.0,Timbers,NaN
40,Salt Lake City,United States,46.0,"1,186,187",1.0,NaN,NaN,Jazz,NaN,2.0,Real Salt Lake,NaN
43,San Antonio,United States,26.0,"2,429,609",1.0,NaN,NaN,Spurs,NaN,1.0,NaN,NaN
44,Sacramento,United States,29.0,"2,296,418",1.0,NaN,NaN,Kings,NaN,1.0,NaN,NaN
46,Oklahoma City,United States,40.0,"1,373,211",1.0,NaN,NaN,Thunder,NaN,1.0,NaN,NaN
47,Memphis,United States,41.0,"1,342,842",1.0,NaN,NaN,Grizzlies,NaN,1.0,NaN,NaN

In [16]:
df_NBA.rename(columns = {'Metropolitan area': 'Cities'}, inplace = True)
df_NBA['Cities'] = df_NBA['Cities'].apply(lambda x: x.split('â€“')[0])
df_NBA.head(10)

/Users/Garrity/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/Garrity/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Cities,Country,Population Rank,Population,B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
1,New York City,United States,1.0,"20,153,634",9.0,"Giants, Jets","Yankees, Mets","Knicks, Nets","Rangers, Islanders, Devils",11.0,"Red Bulls, New York City FC",NaN
2,Los Angeles,United States,2.0,"13,310,447",8.0,"Rams, Chargers","Dodgers, Angels","Lakers, Clippers","Kings, Ducks",10.0,"Galaxy, LA FC",NaN
3,Chicago,United States,3.0,"9,512,999",5.0,Bears,"Cubs, White Sox",Bulls,Blackhawks,6.0,Fire,NaN
4,San Francisco Bay Area,United States,6.0,"6,657,982",5.0,49ers,"Giants, Athletics",Warriors,Sharks,6.0,Earthquakes,NaN
5,Dallas,United States,4.0,"7,233,323",4.0,Cowboys,Rangers,Mavericks,Stars,5.0,FC Dallas,NaN
6,"Washington, D.C.",United States,7.0,"6,131,977",4.0,Washington NFL team,Nationals,Wizards,Capitals,5.0,D.C. United,NaN
7,Philadelphia,United States,8.0,"6,070,500",4.0,Eagles,Phillies,76ers,Flyers,5.0,Union,NaN
8,Miami,United States,9.0,"6,066,387",4.0,Dolphins,Marlins,Heat,Panthers,5.0,Inter Miami CF,NaN
9,Boston,United States,12.0,"4,794,447",4.0,Patriots,Red Sox,Celtics,Bruins,5.0,Revolution,NaN
10,Minneapolis,United States,17.0,"3,551,036",4.0,Vikings,Twins,Timberwolves,Wild,5.0,United FC,NaN

In [28]:
df_NBA.replace('San Francisco Bay Area', 'San Francisco')

,Cities,Country,Population Rank,Population,B4,NFL,MLB,NBA,NHL,B6,MLS,CFL
1,New York City,United States,1.0,"20,153,634",9.0,"Giants, Jets","Yankees, Mets","Knicks, Nets","Rangers, Islanders, Devils",11.0,"Red Bulls, New York City FC",NaN
2,Los Angeles,United States,2.0,"13,310,447",8.0,"Rams, Chargers","Dodgers, Angels","Lakers, Clippers","Kings, Ducks",10.0,"Galaxy, LA FC",NaN
3,Chicago,United States,3.0,"9,512,999",5.0,Bears,"Cubs, White Sox",Bulls,Blackhawks,6.0,Fire,NaN
4,San Francisco,United States,6.0,"6,657,982",5.0,49ers,"Giants, Athletics",Warriors,Sharks,6.0,Earthquakes,NaN
5,Dallas,United States,4.0,"7,233,323",4.0,Cowboys,Rangers,Mavericks,Stars,5.0,FC Dallas,NaN
6,"Washington, D.C.",United States,7.0,"6,131,977",4.0,Washington NFL team,Nationals,Wizards,Capitals,5.0,D.C. United,NaN
7,Philadelphia,United States,8.0,"6,070,500",4.0,Eagles,Phillies,76ers,Flyers,5.0,Union,NaN
8,Miami,United States,9.0,"6,066,387",4.0,Dolphins,Marlins,Heat,Panthers,5.0,Inter Miami CF,NaN
9,Boston,United States,12.0,"4,794,447",4.0,Patriots,Red Sox,Celtics,Bruins,5.0,Revolution,NaN
10,Minneapolis,United States,17.0,"3,551,036",4.0,Vikings,Twins,Timberwolves,Wild,5.0,United FC,NaN
11,Denver,United States,20.0,"2,853,077",4.0,Broncos,Rockies,Nuggets,Avalanche,5.0,Rapids,NaN
12,Phoenix,United States,13.0,"4,661,537",4.0,Cardinals,Diamondbacks,Suns,Coyotes,4.0,NaN,NaN
13,Detroit,United States,14.0,"4,297,617",4.0,Lions,Tigers,Pistons,Red Wings,4.0,NaN,NaN
14,Toronto,Canada,10.0,"5,928,040",3.0,NaN,Blue Jays,Raptors,Maple Leafs,5.0,Toronto FC,Argonauts
15,Houston,United States,5.0,"6,772,470",3.0,Texans,Astros,Rockets,NaN,4.0,Dynamo,NaN
16,Atlanta,United States,11.0,"5,789,700",3.0,Falcons,Braves,Hawks,NaN,4.0,United FC,NaN
19,Cleveland,United States,33.0,"2,055,612",3.0,Browns,Indians,Cavaliers,NaN,3.0,NaN,NaN
26,Charlotte,United States,23.0,"2,474,314",2.0,Panthers,NaN,Hornets,NaN,2.0,NaN,NaN
28,Indianapolis,United States,35.0,"2,004,230",2.0,Colts,NaN,Pacers,NaN,2.0,NaN,NaN
29,Milwaukee,United States,37.0,"1,572,482",2.0,NaN,Brewers,Bucks,NaN,2.0,NaN,NaN
30,New Orleans,United States,45.0,"1,268,883",2.0,Saints,NaN,Pelicans[note 59],NaN,2.0,NaN,NaN
34,Orlando,United States,25.0,"2,441,257",1.0,NaN,NaN,Magic,NaN,2.0,Orlando City SC,NaN
35,Portland,United States,27.0,"2,424,955",1.0,NaN,NaN,Trail Blazers,NaN,2.0,Timbers,NaN
40,Salt Lake City,United States,46.0,"1,186,187",1.0,NaN,NaN,Jazz,NaN,2.0,Real Salt Lake,NaN
43,San Antonio,United States,26.0,"2,429,609",1.0,NaN,NaN,Spurs,NaN,1.0,NaN,NaN
44,Sacramento,United States,29.0,"2,296,418",1.0,NaN,NaN,Kings,NaN,1.0,NaN,NaN
46,Oklahoma City,United States,40.0,"1,373,211",1.0,NaN,NaN,Thunder,NaN,1.0,NaN,NaN
47,Memphis,United States,41.0,"1,342,842",1.0,NaN,NaN,Grizzlies,NaN,1.0,NaN,NaN

In [17]:
!pip install foursquare
print('Installed')

Requirement already satisfied: foursquare in /Users/Garrity/opt/anaconda3/lib/python3.7/site-packages (1!2020.1.30)
Requirement already satisfied: requests>=2.1 in /Users/Garrity/opt/anaconda3/lib/python3.7/site-packages (from foursquare) (2.22.0)
Requirement already satisfied: six in /Users/Garrity/opt/anaconda3/lib/python3.7/site-packages (from foursquare) (1.14.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/Garrity/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.1->foursquare) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/Garrity/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.1->foursquare) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/Garrity/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.1->foursquare) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Garrity/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.1->foursquare) (2019.11.28)
Installed

In [18]:
# Construct the client object
import foursquare
client = foursquare.Foursquare(client_id='XNOVZ5GOPI2CQJURAYWNJWSFD2KF4WP0RG3BF0UIQQTQSCT1', client_secret='MZNIWLMQC0B1SGK3DPZWBPDBLPK3R3MMESHKHWSUAJIB4QKE')

In [19]:
import requests

In [49]:
response = requests.get('https://api.foursquare.com/v2/venues/search?client_id=XNOVZ5GOPI2CQJURAYWNJWSFD2KF4WP0RG3BF0UIQQTQSCT1&client_secret=MZNIWLMQC0B1SGK3DPZWBPDBLPK3R3MMESHKHWSUAJIB4QKE&v=20180602&near=New York')
response.json()

{'meta': {'code': 200, 'requestId': '5f4696e2d7237d7d56e6b69d'},
 'response': {'venues': [{'id': '4b696ecdf964a5201fa22be3',
    'name': 'Flywheel Sports',
    'location': {'address': '39 W 21st St',
     'crossStreet': 'btwn 5th & 6th Ave',
     'lat': 40.741229,
     'lng': -73.9924154,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.741229,
       'lng': -73.9924154},
      {'label': 'entrance', 'lat': 40.741195, 'lng': -73.992508}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['39 W 21st St (btwn 5th & 6th Ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '52f2ab2ebcbc57f1066b8b49',
      'name': 'Cycle Studio',
      'pluralName': 'Cycle Studios',
      'shortName': 'Cycle Studio',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/bikeshop_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '4be6ceb9bcef2d7fbd7405e5',
    'name': 'The Caroline',
    'location': {'address': '60 W 23rd St',
     'crossStreet': '6th ave',
     'lat': 40.74249105987339,
     'lng': -73.99262824277736,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.74249105987339,
       'lng': -73.99262824277736}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['60 W 23rd St (6th ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4d954b06a243a5684965b473',
      'name': 'Residential Building (Apartment / Condo)',
      'pluralName': 'Residential Buildings (Apartments / Condos)',
      'shortName': 'Residential',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/apartment_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5a187743ccad6b307315e6fe',
    'name': 'Foursquare HQ',
    'location': {'address': '50 W 23rd St',
     'crossStreet': 'btwn 5th & 6th Ave',
     'lat': 40.742058823215544,
     'lng': -73.9918041229248,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.742058823215544,
       'lng': -73.9918041229248}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['50 W 23rd St (btwn 5th & 6th Ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d125941735',
      'name': 'Tech Startup',
      'pluralName': 'Tech Startups',
      'shortName': 'Tech Startup',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/technology_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '489091283'},
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5ae86b42fe3740002ca5c615',
    'name': 'Fat Dennyâ€™s Cafeteria',
    'location': {'address': '50 W 23rd St',
     'crossStreet': 'btwn 5th & 6th Ave',
     'lat': 40.74189756982552,
     'lng': -73.99199674964586,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.74189756982552,
       'lng': -73.99199674964586}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['50 W 23rd St (btwn 5th & 6th Ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '54f4ba06498e2cf5561da814',
      'name': 'Corporate Cafeteria',
      'pluralName': 'Corporate Cafeterias',
      'shortName': 'Corporate Cafeteria',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/education/cafeteria_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '520907526'},
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5d5afcf2011df00008f79a94',
    'name': 'PDS Island',
    'location': {'address': '50 W 23rd St',
     'lat': 40.742058823215544,
     'lng': -73.9918041229248,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.742058823215544,
       'lng': -73.9918041229248}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['50 W 23rd St',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d124941735',
      'name': 'Office',
      'pluralName': 'Offices',
      'shortName': 'Office',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/default_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '550371248'},
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5d4c6e7a3d4ea60008af0ebc',
    'name': 'Chick-fil-A',
    'location': {'address': '700 Avenue of the Americas',
     'crossStreet': 'at W 22nd St',
     'lat': 40.7423583,
     'lng': -73.9928843,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.7423583,
       'lng': -73.9928843},
      {'label': 'entrance', 'lat': 40.742477, 'lng': -73.992907}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['700 Avenue of the Americas (at W 22nd St)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d16e941735',
      'name': 'Fast Food Restaurant',
      'pluralName': 'Fast Food Restaurants',
      'shortName': 'Fast Food',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
       'suffix': '.png'},
      'primary': True}],
    'delivery': {'id': '1945764',
     'url': 'https://www.seamless.com/menu/chick-fil-a-700-6th-ave-new-york/1945764?affiliate=1131&utm_source=foursquare-affiliate-network&utm_medium=affiliate&utm_campaign=1131&utm_content=1945764',
     'provider': {'name': 'seamless',
      'icon': {'prefix': 'https://fastly.4sqi.net/img/general/cap/',
       'sizes': [40, 50],
       'name': '/delivery_provider_seamless_20180129.png'}}},
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '509ee5bbe4b0f56d613db4a9',
    'name': 'BXL Zoute',
    'location': {'address': '50 W 22nd St',
     'crossStreet': 'at 6th Ave',
     'lat': 40.74199959382342,
     'lng': -73.99258559759792,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.74199959382342,
       'lng': -73.99258559759792},
      {'label': 'entrance', 'lat': 40.741813, 'lng': -73.992567}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['50 W 22nd St (at 6th Ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '52e81612bcbc57f1066b7a02',
      'name': 'Belgian Restaurant',
      'pluralName': 'Belgian Restaurants',
      'shortName': 'Belgian',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
       'suffix': '.png'},
      'primary': True}],
    'delivery': {'id': '313791',
     'url': 'https://www.seamless.com/menu/bxl-zoute-50-w-22nd-st-new-york/313791?affiliate=1131&utm_source=foursquare-affiliate-network&utm_medium=affiliate&utm_campaign=1131&utm_content=313791',
     'provider': {'name': 'seamless',
      'icon': {'prefix': 'https://fastly.4sqi.net/img/general/cap/',
       'sizes': [40, 50],
       'name': '/delivery_provider_seamless_20180129.png'}}},
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '554ca083498efd419209c432',
    'name': 'Brooklyn Roasting Company',
    'location': {'address': '50 W 23rd St',
     'crossStreet': 'btwn 5th & 6th Ave',
     'lat': 40.742204,
     'lng': -73.991719,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.742204,
       'lng': -73.991719}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['50 W 23rd St (btwn 5th & 6th Ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1e0931735',
      'name': 'Coffee Shop',
      'pluralName': 'Coffee Shops',
      'shortName': 'Coffee Shop',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '573363c2498eb18e283007f8',
    'name': 'Bite',
    'location': {'address': '62 W 22nd St',
     'crossStreet': 'at 6th Ave',
     'lat': 40.742135733688905,
     'lng': -73.993066263182,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.742135733688905,
       'lng': -73.993066263182}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['62 W 22nd St (at 6th Ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c0941735',
      'name': 'Mediterranean Restaurant',
      'pluralName': 'Mediterranean Restaurants',
      'shortName': 'Mediterranean',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mediterranean_',
       'suffix': '.png'},
      'primary': True}],
    'delivery': {'id': '323312',
     'url': 'https://www.seamless.com/menu/bite-22-62-w-22nd-st-new-york/323312?affiliate=1131&utm_source=foursquare-affiliate-network&utm_medium=affiliate&utm_campaign=1131&utm_content=323312',
     'provider': {'name': 'seamless',
      'icon': {'prefix': 'https://fastly.4sqi.net/img/general/cap/',
       'sizes': [40, 50],
       'name': '/delivery_provider_seamless_20180129.png'}}},
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '4a21834ff964a520077d1fe3',
    'name': 'The Home Depot',
    'location': {'address': '40 W 23rd St',
     'lat': 40.7420095,
     'lng': -73.9913159,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.7420095,
       'lng': -73.9913159}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['40 W 23rd St',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d112951735',
      'name': 'Hardware Store',
      'pluralName': 'Hardware Stores',
      'shortName': 'Hardware',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/hardware_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '4c225ae47e85c9283ee5bb21',
    'name': "Trader Joe's",
    'location': {'address': '675 6th Ave',
     'crossStreet': 'at W 21st St',
     'lat': 40.741739139805574,
     'lng': -73.99365296900864,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.741739139805574,
       'lng': -73.99365296900864},
      {'label': 'entrance', 'lat': 40.74184, 'lng': -73.993793}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['675 6th Ave (at W 21st St)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d118951735',
      'name': 'Grocery Store',
      'pluralName': 'Grocery Stores',
      'shortName': 'Grocery Store',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/food_grocery_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '591620d82aff31013a58214d',
    'name': 'Little Italy Pizza IV',
    'location': {'address': '688 Avenue of the Americas',
     'crossStreet': 'at 22nd St',
     'lat': 40.742235519769274,
     'lng': -73.99324777055183,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.742235519769274,
       'lng': -73.99324777055183}],
     'postalCode': '10010',
     'cc': 'US',
     'neighborhood': 'Union Square',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['688 Avenue of the Americas (at 22nd St)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1ca941735',
      'name': 'Pizza Place',
      'pluralName': 'Pizza Places',
      'shortName': 'Pizza',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
       'suffix': '.png'},
      'primary': True}],
    'delivery': {'id': '385681',
     'url': 'https://www.seamless.com/menu/little-italy-pizza-6th-ave-688-6th-avenue-new-york/385681?affiliate=1131&utm_source=foursquare-affiliate-network&utm_medium=affiliate&utm_campaign=1131&utm_content=385681',
     'provider': {'name': 'seamless',
      'icon': {'prefix': 'https://fastly.4sqi.net/img/general/cap/',
       'sizes': [40, 50],
       'name': '/delivery_provider_seamless_20180129.png'}}},
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '534e9a2211d247e3854371f2',
    'name': 'Peloton',
    'location': {'address': '140 W 23rd St',
     'crossStreet': 'btwn 6th & 7th Ave',
     'lat': 40.743468986181725,
     'lng': -73.99420536372824,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.743468986181725,
       'lng': -73.99420536372824}],
     'postalCode': '10011',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['140 W 23rd St (btwn 6th & 7th Ave)',
      'New York, NY 10011',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d115951735',
      'name': 'Bike Shop',
      'pluralName': 'Bike Shops',
      'shortName': 'Bike Shop',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/bikeshop_',
       'suffix': '.png'},
      'primary': True}],
    'venuePage': {'id': '94164028'},
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5ab1f0cf0a08ab0f4ac7fbd3',
    'name': 'PetSmart',
    'location': {'address': '1107 Broadway Ste 101',
     'lat': 40.7426734,
     'lng': -73.9894407,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.7426734,
       'lng': -73.9894407}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['1107 Broadway Ste 101',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d100951735',
      'name': 'Pet Store',
      'pluralName': 'Pet Stores',
      'shortName': 'Pet Store',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pet_store_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5c5af75d464d65002cfb95b1',
    'name': 'The Garden',
    'location': {'address': '50 W 23rd St',
     'lat': 40.742132,
     'lng': -73.992203,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.742132,
       'lng': -73.992203}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['50 W 23rd St',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d127941735',
      'name': 'Conference Room',
      'pluralName': 'Conference Rooms',
      'shortName': 'Conference room',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/office_conferenceroom_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5a21c39660255e3bca85e261',
    'name': 'European Wax Center',
    'location': {'address': '750 Avenue of the Americas',
     'lat': 40.743715,
     'lng': -73.992139,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.743715,
       'lng': -73.992139}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['750 Avenue of the Americas',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '54541900498ea6ccd0202697',
      'name': 'Health & Beauty Service',
      'pluralName': 'Health & Beauty Services',
      'shortName': 'Health & Beauty',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/salon_barber_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5495e8ad498e505982f59030',
    'name': 'CVS pharmacy',
    'location': {'address': '636 Avenue of the Americas',
     'crossStreet': 'at W 19th St',
     'lat': 40.74041334585247,
     'lng': -73.99449114576198,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.74041334585247,
       'lng': -73.99449114576198}],
     'postalCode': '10011',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['636 Avenue of the Americas (at W 19th St)',
      'New York, NY 10011',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d10f951735',
      'name': 'Pharmacy',
      'pluralName': 'Pharmacies',
      'shortName': 'Pharmacy',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/pharmacy_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5c7afef10719020025ef6105',
    'name': 'Silver Mirror',
    'location': {'address': '20 W 22nd St',
     'crossStreet': '22nd st between 5th and 6th ave',
     'lat': 40.741295,
     'lng': -73.991585,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.741295,
       'lng': -73.991585}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['20 W 22nd St (22nd st between 5th and 6th ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '54541900498ea6ccd0202697',
      'name': 'Health & Beauty Service',
      'pluralName': 'Health & Beauty Services',
      'shortName': 'Health & Beauty',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/salon_barber_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5bf34fca018cbb002c99be4a',
    'name': 'TaÃ¯m',
    'location': {'address': '64 W 22nd St',
     'crossStreet': 'at 6th Ave',
     'lat': 40.7422561970515,
     'lng': -73.99314380430064,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.7422561970515,
       'lng': -73.99314380430064}],
     'postalCode': '10010',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['64 W 22nd St (at 6th Ave)',
      'New York, NY 10010',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d10b941735',
      'name': 'Falafel Restaurant',
      'pluralName': 'Falafel Restaurants',
      'shortName': 'Falafel',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/falafel_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1598461711',
    'hasPerk': False},
   {'id': '5a0f9ae9bb2a474024a14c13',
    'name': 'Empire State Of Wine',
    'location': {'address': '111 W 20th St',
     'crossStreet': '6 Ave',
     'lat': 40.74128284694995,
     'lng': -73.99476358402265,
     'labeledLatLngs': [{'label': 'display',
       'lat': 40.74128284694995,
       'lng': -73.99476358402265}],
     'postalCode': '10011',
     'cc': 'US',
     'city': 'New York',
     'state': 'NY',
     'country': 'United States',
     'formattedAddress': ['111 W 20th St (6 Ave)',
      'New York, NY 10011',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d119951735',
      'name': 'Wine Shop',
      'pluralName': 'Wine Shops',

In [44]:
for Cities in df5[['City']]:
    tempCity = df5[Cities]
    print(tempCity.values)

['Pittsburgh' 'Seattle' 'Cincinnati' 'Kansas City' 'Nashville' 'St. Louis'
 'Baltimore' 'Las Vegas' 'Buffalo']

In [50]:
for city in tempCity.values:
    response = requests.get('https://api.foursquare.com/v2/venues/search?client_id=XNOVZ5GOPI2CQJURAYWNJWSFD2KF4WP0RG3BF0UIQQTQSCT1&client_secret=MZNIWLMQC0B1SGK3DPZWBPDBLPK3R3MMESHKHWSUAJIB4QKE&v=20180602&near=' + str(city)
    response.json()

SyntaxError: invalid syntax (<ipython-input-50-73856b5f09c0>, line 3)

In [43]:
tempCity[i]

KeyError: 'Pittsburgh'